{% load static %}
<footer>
    <div class="footerCol">
    <div class="container">
        <ul class="socialCol">
        <li><a href="https://www.facebook.com/jp.harms.7"><img src="{% static 'images/fb.svg' %}" alt="..."></a></li>
        <li><a href="javascript:void(0)"><img src="{% static 'images/linkedin.svg' %}" alt="..."></a></li>
        <li><a href="https://github.com/Japerama"><img src="{% static 'images/github.svg' %}" alt="..."></a></li>
        </ul>
        <!-- <div class="copyrightCol">
        </div> -->
    </div>
    </div>
</footer>